@page "/todo"
@inject TodoService todoService

<PageTitle>Todo</PageTitle>

<h3>Todo (@todos.Count(todo => !todo.IsDone))</h3>

<ul>
    @foreach (var todo in todos)
    {
        <li>
            <input type="checkbox" @bind="todo.IsDone">
            <input type="text" @bind="todo.Title">
            <button @onclick="() => DeleteTodo(todo) ">X</button>
        </li>
    }
</ul>

<input placeholder="Something todo" @bind="newTodo" />
<button @onclick="AddTodo">Add todo</button>

@code {
    private List<TodoItem> todos = new();

    private string? newTodo;


    protected override void OnInitialized()
    {
        todos = todoService.GetTodoFromFile();
    }

    private void AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(newTodo))
        {
            var todo = new TodoItem { Title = newTodo };
            todoService.AddTodo(todo);
            todos = todoService.GetTodos();
            newTodo = string.Empty;
        }

    }

    private void DeleteTodo(TodoItem todo)
    {
        todoService.DeleteTodo(todo);
        todos = todoService.GetTodos();
    }
}
